<!DOCTYPE html>
<html th:lang="${#locale}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>[[#{animal.details.title}]]</title>
</head>
<body>
<main>
  <div class="row">
    <div class="col-sm-12 mb-3">
      <div class="card" th:object="${animal}">
        <h5 class="card-header" th:text="*{name}"></h5>
        <div class="card-body">
          <p class="card-text">
            <b th:text="#{animal.details.card.animal.birthDate}"></b> <span
              th:text="${#temporals.format(animal.age, 'dd/MM/yyyy')}"></span>
          </p>
          <p class="card-text">
            <b th:text="#{animal.details.card.animal.age}"></b> <span th:text="*{ageYears}"></span>
          </p>
          <p class="card-text">
            <b th:text="#{animal.details.card.animal.breed}"></b> <span th:text="*{breed}"></span>
          </p>
          <p class="card-text">
            <b th:text="#{animal.details.card.animal.owner}"></b> <a th:href="@{/app/customers/{id} (id=*{owner.id})}"
                                                                     th:text="*{owner.name}"></a>
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <a th:href="@{/app/animals}" class="btn btn-secondary" th:text="#{button.back}"></a>
      </div>
    </div>
  </div>
</main>

</body>
</html>