<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{base/base :: baseHead}">
  <title></title>
</head>
<body>
<header th:replace="~{base/base :: navbar}"></header>

<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 th:text="${title}"></h1>
      <form action="#" class="d-flex cold-md-12">
        <input type="text"
               class="form-control me-2"
               id="txt-search"
               placeholder="Nome do cliente"
               aria-label="Search">
        <button class="btn btn-outline-success"
                id="btn-search"
                type="submit">Pesquisar
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table" id="tbl-animals">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Raça</th>
          <th scope="col">Dono</th>
          <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${animals}">
          <td>
            <a th:href="@{/app/animals/{id} (id=${animal.id})}"
               th:text="${animal.name}"></a>
          </td>
          <td th:text="${animal.age}"></td>
          <td th:text="${animal.breed}"></td>
          <td th:text="${animal.owner.fullName}"></td>
          <td>
            <a th:href="@{/app/animals/{id}/update (id=${animal.id})}"
               class="btn btn-warning">Editar</a>
            <a class="btn btn-danger"
               th:href="@{/app/animals/{id}/delete (id=${animal.id})}"
               onclick="return confirm('Tem certeza de que deseja excluir o animal?')">Excluir</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12">
      <a th:href="@{/app/animals/insert}"
         class="btn btn-primary">Adicionar novo animal</a>
    </div>
  </div>

</main>

<footer th:replace="~{base/base :: copyright}"></footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-search').click(function () {
            const animalName = $('#txt-search').val();
            $.ajax({
                method: 'GET',
                url: '/app/animals/search?name=' + animalName,
                success: function (data) {
                    $('#tbl-animals tbody > tr').remove();
                    $.each(data, function (index, animal) {
                        $('#tbl-animals tbody').append(
                            '<tr>' +
                            '  <td>' +
                            '    <a href="/app/animals/' + animal.id + '">' + animal.name + '</a>' +
                            '  </td>' +
                            '  <td>' + animal.age + '</td>' +
                            '  <td>' + animal.breed + '</td>' +
                            '  <td>' + animal.owner.fullName + '</td>' +
                            '  <td>' +
                            '    <a href="/app/animals/' + animal.id + '/update"' +
                            '       class="btn btn-warning">Editar</a>' +
                            '    <a href="/app/animals/' + animal.id + '/delete"' +
                            '       class="btn btn-danger"' +
                            '       onclick="return confirm(\'Tem certeza de que deseja excluir o animal?\')">Excluir</a>' +
                            '  </td>' +
                            '</tr>'
                        );
                    })
                },
                error: function () {
                    alert("Houve um erro na requisição!");
                }
            });
            return false;
        });
    });
</script>

</body>
</html>