<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{base/base :: baseHead}">
  <title></title>
</head>
<body>
<header th:replace="~{base/base :: navbar}"></header>

<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 th:text="${title}"></h1>
    </div>
  </div>

  <div class="row">
    <form action="#" method="post" th:object="${animal}" class="row g-3">
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{medicalRecords}">

      <div class="col-md-12">
        <label for="owner" class="form-label">
              <input class="form-check-input" type="checkbox" value="" id="enableDisableOwner">
              <label class="form-check-label" for="enableDisableOwner">Dono do Pet:</label>
        </label>
        <select class="form-select col-md-12"
                aria-label=".form-select"
                id="owner"
                th:field="*{owner}"
                readonly>
          <option value="">Selecione o Dono do Pet</option>
          <option th:each="customer : ${customers}"
                  th:value="${customer.id}"
                  th:text="${customer.fullName}"></option>
        </select>
      </div>



      <div class="col-md-4">
        <label for="name" class="form-label">Nome:</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Digite o nome"
               th:field="*{name}"
               required>
        <span class="error" th:errors="*{name}"></span>
      </div>

      <div class="col-md-4">
        <label for="age" class="form-label">Idade:</label>
        <input type="number"
               class="form-control"
               id="age"
               placeholder="Digite o nome"
               th:field="*{age}"
               required>
        <span class="error" th:errors="*{age}"></span>
      </div>

      <div class="col-md-4">
        <label for="breed" class="form-label">Raça:</label>
        <input type="text"
               class="form-control"
               id="breed"
               placeholder="Digite o nome"
               th:field="*{breed}"
               required>
        <span class="error" th:errors="*{breed}"></span>
      </div>

      <div>
        <a th:href="@{/app/animals}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-success" name="action" value="save">Salvar</button>
      </div>

    </form>
  </div>
</main>

<footer th:replace="~{base/base :: copyright}"></footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('#enableDisableOwner').change(function () {
            if (this.checked) {
                $('#owner').attr({
                    readonly: false
                });
            } else {
                $('#owner').attr({
                    readonly: true
                });
            }
        })
    });
</script>

</body>
</html>