<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>Detalhes</title>
</head>
<body>
<main class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="card" th:object="${role}">
        <h5 class="card-header" th:text="*{name}"></h5>
        <div class="card-body">
          <h6><b>Lista de usuários:</b></h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"
                th:each="employee : *{employees}"
                th:text="${employee.name}"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
<!--TODO: add botão de edição e exclusão-->