<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{base/base :: baseHead}">
  <title></title>
</head>
<body>
<header th:replace="~{base/base :: navbar}"></header>

<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 th:text="${title}"></h1>
      <form action="#" class="d-flex cold-md-12">
        <input type="text"
               class="form-control me-2"
               id="txt-search"
               placeholder="Nome do nível de acesso"
               aria-label="Search">
        <button class="btn btn-outline-success"
                id="btn-search"
                type="submit">Pesquisar
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table" id="tbl-roles">
        <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Nome</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
          <td>
            <a th:href="@{/admin/roles/{id} (id=${role.id})}"
               th:text="${role.type}"></a>
          </td>
          <td th:text="${role.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer th:replace="~{base/base :: copyright}"></footer>

<script type="text/javascript">
  $(document).ready(function () {
      $("#btn-search").click(function () {
          const roleName = $("#txt-search").val();
          $.ajax({
              method: 'GET',
              url: '/admin/roles/search?name=' + roleName,
              success: function (data) {
                  $('#tbl-roles tbody > tr').remove();
                  $.each(data, function (index, role) {
                      $('#tbl-roles tbody').append(
                          '<tr>' +
                          '  <td>' +
                          '    <a href="/admin/roles/' + role.id + '">' + role.type + '</a>' +
                          '  </td>' +
                          '  <td>' + role.name + '</td>' +
                          '</tr>'
                      );
                  })
              },
              error: function () {
                  alert("Houve um erro na requisição!")
              }
          });
          return false;
      });
  });
</script>

</body>
</html>