<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">
<head>
  <title>Prontuários [[${#request.getParameter('archived') == 'true'} ? 'Arquivados']]</title>
</head>
<body>

<main>
  <span sec:authentication="principal.authorities" hidden id="user_role"></span>
  <div class="row">
    <div class="col-sm-12">
      <form action="#" class="d-flex">
        <input type="text"
               class="form-control me-2"
               id="txt-search"
               placeholder="Paciente"
               aria-label="Search">
        <button class="btn btn-outline-success"
                id="btn-search"
                type="submit">Pesquisar
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table" id="tbl-medicalRecords">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Paciente</th>
          <th scope="col">Médico</th>
          <th scope="col">Data do Atendimento</th>
          <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicalRecord : ${medicalRecords}">
          <td th:text="${medicalRecord.id}"></td>
          <td th:text="${medicalRecord.animal.name}"></td>
          <td th:text="${medicalRecord.veterinarian.name}"></td>
          <td th:text="${#temporals.format(medicalRecord.serviceDate, 'dd/MM/yyyy')}"></td>
          <td>
            <div class="btn-group">
              <a th:href="@{/app/medical-records/{id} (id=${medicalRecord.id})}"
                 class="btn btn-primary" type="button"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">
                <i class="fas fa-eye"></i>
              </a>
              <a th:classappend="${#authorization.expression('hasRole(''USER'')')} ? 'disabled'"
                 th:attrappend="aria-disabled=${#authorization.expression('hasRole(''USER'')')},tabindex=${#authorization.expression('hasRole(''USER'',)')} ? '-1'"
                 th:href="@{/app/medical-records/{id}/update (id=${medicalRecord.id})}"
                 class="btn btn-warning" type="button"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                <i class="fas fa-edit"></i>
              </a>
              <a th:if="${#request.getParameter('archived') == null}"
                 th:classappend="${#authorization.expression('hasRole(''USER'')')} ? 'disabled'"
                 th:attrappend="aria-disabled=${#authorization.expression('hasRole(''USER'')')},tabindex=${#authorization.expression('hasRole(''USER'',)')} ? '-1'"
                 th:href="@{/app/medical-records/{id}/archive (id=${medicalRecord.id})}"
                 onclick="return confirm('Tem certeza de que deseja arquivar este prontuário?')"
                 class="btn btn-danger" type="button"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Arquivar">
                <i class="fas fa-arrow-down"></i>
              </a>
              <a th:if="${#request.getParameter('archived') == 'true'}"
                 th:classappend="${#authorization.expression('hasRole(''USER'')')} ? 'disabled'"
                 th:attrappend="aria-disabled=${#authorization.expression('hasRole(''USER'')')},tabindex=${#authorization.expression('hasRole(''USER'',)')} ? '-1'"
                 th:href="@{/app/medical-records/{id}/archive (id=${medicalRecord.id})}"9
                 onclick="return confirm('Tem certeza de que deseja desarquivar este prontuário?')"
                 class="btn btn-success" type="button"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Desarquivar">
                <i class="fas fa-arrow-up"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <a th:classappend="${#authorization.expression('hasRole(''USER'')')} ? 'disabled'"
         th:attrappend="aria-disabled=${#authorization.expression('hasRole(''USER'')')},tabindex=${#authorization.expression('hasRole(''USER'',)')} ? '-1'"
         th:href="@{/app/medical-records/insert}"
         class="btn btn-primary">Iniciar novo atendimento</a>
    </div>
    <div class="col-sm-6 d-flex container-fluid justify-content-end" th:if="${#request.getParameter('archived') == null}">
      <a th:href="@{/app/medical-records?archived=true}"
         class="btn btn-outline-info">Atendimentos arquivados</a>
    </div>
    <div class="col-sm-6 d-flex container-fluid justify-content-end" th:if="${#request.getParameter('archived') == 'true'}">
      <a th:href="@{/app/medical-records}"
         class="btn btn-outline-info">Atendimentos ativos</a>
    </div>
  </div>
</main>

<th:block th:fragment="scripts">
  <script type="text/javascript" th:if="${#request.getParameter('archived') == null}">
      $(document).ready(function () {
          $('#btn-search').click(function () {
              const patientName = $('#txt-search').val();
              const role = $('span#user_role').text();
              let attrUser = '';
              $.ajax({
                  method: 'GET',
                  url: '/app/medical-records/search?patient=' + patientName,
                  success: function (data) {
                      if (role.includes("ROLE_USER")) {
                          attrUser = ' disabled" aria-disabled="true" tabindex="-1';
                      }
                      $('#tbl-medicalRecords tbody > tr').remove();
                      $.each(data, function (index, medicalRecord) {
                          $('#tbl-medicalRecords tbody').append(
                              '<tr>' +
                              '  <td>' + medicalRecord.id + '</td>' +
                              '  <td>' + medicalRecord.animal.name + '</td>' +
                              '  <td>' + medicalRecord.veterinarian.name + '</td>' +
                              '  <td>' + medicalRecord.serviceDate + '</td>' +
                              '  <td>' +
                              '    <div class="btn-group">' +
                              '    <a href="/app/medical-records/' + medicalRecord.id + '"' +
                              '       class="btn btn-primary" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">' +
                              '        <i class="fas fa-eye"></i>' +
                              '    </a>' +
                              '    <a href="/app/medical-records/' + medicalRecord.id + '/update"' +
                              '       class="btn btn-warning' + attrUser + '" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">' +
                              '        <i class="fas fa-edit"></i>' +
                              '    </a>' +
                              '    <a href="/app/medical-records/' + medicalRecord.id + '/archive"' +
                              '       onclick="return confirm(\'Tem certeza de que deseja arquivar este prontuário?\')"' +
                              '       class="btn btn-danger' + attrUser + '" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top" title="Arquivar">' +
                              '       <i class="fas fa-arrow-down"></i>' +
                              '    </a>' +
                              '    </div>' +
                              '  </td>' +
                              '</tr>'
                          );
                      })
                      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                      let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                          return new bootstrap.Tooltip(tooltipTriggerEl)
                      })
                  },
                  error: function () {
                      alert("Houve um erro na requisição!");
                  }
              });
              return false;
          });
      });
  </script>
  <script type="text/javascript" th:if="${#request.getParameter('archived') == 'true'}">
      $(document).ready(function () {
          $('#btn-search').click(function () {
              const patientName = $('#txt-search').val();
              const role = $('span#user_role').text();
              let attrUser = '';
              $.ajax({
                  method: 'GET',
                  url: '/app/medical-records/searchArchived?patient=' + patientName,
                  success: function (data) {
                      if (role.includes("ROLE_USER")) {
                          attrUser = ' disabled" aria-disabled="true" tabindex="-1';
                      }
                      $('#tbl-medicalRecords tbody > tr').remove();
                      $.each(data, function (index, medicalRecord) {
                          $('#tbl-medicalRecords tbody').append(
                              '<tr>' +
                              '  <td>' + medicalRecord.id + '</td>' +
                              '  <td>' + medicalRecord.animal.name + '</td>' +
                              '  <td>' + medicalRecord.veterinarian.name + '</td>' +
                              '  <td>' + medicalRecord.serviceDate + '</td>' +
                              '  <td>' +
                              '    <div class="btn-group">' +
                              '    <a href="/app/medical-records/' + medicalRecord.id + '"' +
                              '       class="btn btn-primary" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">' +
                              '        <i class="fas fa-eye"></i>' +
                              '    </a>' +
                              '    <a href="/app/medical-records/' + medicalRecord.id + '/update"' +
                              '       class="btn btn-warning' + attrUser + '" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">' +
                              '        <i class="fas fa-edit"></i>' +
                              '    </a>' +
                              '    <a href="/app/medical-records/' + medicalRecord.id + '/archive"' +
                              '       onclick="return confirm(\'Tem certeza de que deseja desarquivar este prontuário?\')"' +
                              '       class="btn btn-success' + attrUser + '" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top" title="Desarquivar">' +
                              '       <i class="fas fa-arrow-up"></i>' +
                              '    </a>' +
                              '    </div>' +
                              '  </td>' +
                              '</tr>'
                          );
                      })
                      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                      let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                          return new bootstrap.Tooltip(tooltipTriggerEl)
                      })
                  },
                  error: function () {
                      alert("Houve um erro na requisição!");
                  }
              });
              return false;
          });
      });
  </script>
  <script>
      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
      })
  </script>
</th:block>

</body>
</html>