<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{base/base :: baseHead}">
  <title></title>
</head>
<body>
<header th:replace="~{base/base :: navbar}"></header>

<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 th:text="${title}"></h1>
    </div>
  </div>

  <div class="row g-1">
    <form action="#" th:action="@{/app/medical-records/insert}" th:object="${medicalRecord}"
          method="post" class="row g-3">

      <div class="col-md-6">
        <label for="owner" class="form-label">Dono do Pet:</label>
        <select id="owner"
                class="form-select"
                aria-label=".form-select">
          <option value="" selected>Selecione o Dono do Pet</option>
          <option th:each="customer : ${customers}"
                  th:value="${customer.id}"
                  th:text="${customer.fullName}"></option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="pet" class="form-label">Pet:</label>
        <select class="form-select col-md-6"
                aria-label=".form-select"
                id="pet"
                th:field="*{animal}"
                required>
          <option value="" selected>Selecione o Pet</option>
          <option class="petsList"
                  th:each="animal : ${animals}"
                  th:value="${animal.id}"
                  th:text="${animal.name}"></option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="serviceDate" class="form-label">Data do atendimento:</label>
        <input type="date"
               class="form-control"
               id="serviceDate"
               th:field="*{serviceDate}"
               required>
        <span class="error" th:errors="*{serviceDate}"></span>
      </div>

      <div class="col-md-12">
        <label for="comments" class="form-label">Nota:</label>
        <textarea class="form-control"
                  id="comments"
                  rows="4"
                  placeholder="Notas sobre o atendimento"
                  th:field="*{comments}"
                  required></textarea>
        <span class="error" th:errors="*{comments}"></span>
      </div>

      <div class="mb-2">
        <a th:href="@{/app/medical-records}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-success" value="save">Salvar</button>
      </div>
    </form>
  </div>
</main>

<footer th:replace="~{base/base :: copyright}"></footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('#serviceDate').attr({
            value: new Date().toISOString().substring(0, 10),
            max: new Date().toISOString().substring(0, 10)
        });
        $('#owner').change(function () {
            const ownerSelected = $(this).val();
            $.ajax({
                method: 'GET',
                url: '/app/medical-records/searchAnimals?ownerId=' + ownerSelected,
                success: function (data) {
                    $('#pet option.petsList').remove();
                    $.each(data, function (index, pet) {
                        $('#pet').append(
                            '<option class="petsList" ' + 'value="' + pet.id + '"' + '>' +
                            pet.name +
                            '</option>'
                        )
                    })
                },
                error: function () {
                    if (ownerSelected !== '') {
                        alert("Houve um erro na requisição!");
                    }
                }
            });
            return false;
        });
    });
</script>

</body>
</html>