<!DOCTYPE html>
<html th:lang="${#locale}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">
<head>
  <title>[[#{employee.details.title}]]</title>
</head>
<body>

<main>
  <div class="row">
    <div class="col-sm-12 mb-3">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img alt="User profile picture" class="profile-user-img img-fluid img-circle" id="profile-user-img">
              </div>

              <h3 class="profile-username text-center" th:text="${employee.name}"></h3>
            </div>
          </div>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" th:text="#{person.details.card.customer.title}"></h3>
            </div>

            <div class="card-body">
              <div sec:authorize="hasRole('ADMIN')">
                <strong><i class="fas fa-calendar-alt mr-1"></i> [[#{person.details.card.customer.birthDate}]]</strong>
                <p class="text-muted" th:text="${#temporals.format(employee.birthDate)}"></p>

                <strong><i class="fas fa-book mr-1"></i> [[#{person.details.card.customer.cpf}]]</strong>
                <p class="text-muted" th:text="${employee.cpf}"></p>
              </div>

              <strong><i class="fas fa-mobile mr-1"></i> [[#{person.details.card.customer.phone}]]</strong>
              <p class="text-muted" th:text="${employee.phone}"></p>

              <strong><i class="fas fa-envelope mr-1"></i> [[#{person.details.card.customer.email}]]</strong>
              <p class="text-muted" id="email" th:text="${employee.email}"></p>

              <hr>

              <div sec:authorize="hasRole('ADMIN')">
                <strong><i class="fas fa-map-marker-alt mr-1"></i> [[#{person.details.card.customer.address}]]</strong>
                <p class="text-muted" th:text="${employee.address}"></p>
              </div>
            </div>
          </div>
          <div class="card card-primary" th:if="${employee.role.name == 'Veterinário'}">
            <div class="card-header">
              <h3 class="card-title" th:text="#{employee.details.card.veterinarian.title}"></h3>
            </div>

            <div class="card-body">
              <strong><i class="fas fa-bookmark"></i> [[#{employee.details.card.veterinarian.specialty}]]</strong>
              <p class="text-muted" th:text="${employee.specialty}"></p>

              <strong><i class="fas fa-check-square"></i> [[#{employee.details.card.veterinarian.crmv}]]</strong>
              <p class="text-muted" th:text="${employee.crmvState} + '-' + ${employee.crmv}"></p>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title" th:text="#{employee.details.card.medicalRecord.title}"></h5>
            </div>

            <div class="card-body">
              <div class="timeline">
                <div th:each="medicalRecord : ${employee.medicalRecords}">
                  <i class="fas fa-book-medical bg-primary"></i>

                  <div class="timeline-item">
                    <span class="time">
                      <i class="far fa-clock"></i> <span
                        th:text="${#temporals.format(medicalRecord.serviceDate, 'dd/MM/yyyy')}"></span>
                    </span>

                    <h3 class="timeline-header" th:text="${medicalRecord.animal.name}"></h3>

                    <div class="timeline-body" th:text="${medicalRecord.comments}"></div>

                    <div class="timeline-footer">
                      <a th:href="@{/app/medical-records/{id} (id=${medicalRecord.id})}"
                         class="btn btn-primary btn-sm" th:text="#{employee.details.card.medicalRecord.button}"></a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<th:block th:fragment="scripts">
  <script th:src="@{/js/avatar.min.js}"></script>
  <script>
      const email = document.getElementById("email").innerText;

      const avatar = Avatar.from(document.getElementById('profile-user-img'), {
          'email': email
      });
  </script>
</th:block>

</body>
</html>