<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">
<head>
  <title>Funcionários</title>
</head>
<body>

<main>
  <div class="row">
    <div class="col-sm-12">
      <form action="#" class="d-flex cold-md-12">
        <input type="text"
               class="form-control me-2"
               id="txt-search"
               placeholder="Nome do usuário"
               aria-label="Search">
        <button class="btn btn-outline-success"
                id="btn-search"
                type="submit">Pesquisar
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table" id="tbl-employees">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Login</th>
          <th scope="col">Nome</th>
          <th scope="col">Estado</th>
          <th scope="col">Cargo</th>
          <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.email}"></td>
          <td th:text="${employee.name}"></td>
          <td th:text="${employee.active} ? 'Habilitado' : 'Desabilitado'"></td>
          <td th:text="${employee.role.name}">
          </td>
          <td>
            <div class="btn-group">
              <a th:href="@{/admin/users/{id} (id=${employee.id})}"
                 class="btn btn-primary" type="button"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">
                <i class="fas fa-eye"></i>
              </a>
              <a th:href="@{/admin/users/{id}/update (id=${employee.id})}"
                 class="btn btn-warning" type="button"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                <i class="fas fa-edit"></i>
              </a>
              <a class="btn" th:classappend="${employee.active} ? 'btn-danger' : 'btn-success'"
                 type="button"
                 th:href="@{/admin/users/{id}/change-availability (id=${employee.id})}"
                 th:onclick="${employee.active} ?
                'return confirm(\'Tem certeza de que deseja desabilitar o usuário?\')' :
                 'return confirm(\'Tem certeza de que deseja habilitar o usuário?\')'"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 th:title="${employee.active} ? 'Desabilitar' : 'Habilitar'">
                <i class="fas" th:classappend="${employee.active} ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <a th:href="@{/admin/users/insert}"
           class="btn btn-primary">Adicionar novo usuário</a>
      </div>
    </div>
  </div>
</main>

<th:block th:fragment="scripts">
  <script type="text/javascript">
      $(document).ready(function () {
          $('#btn-search').click(function () {
              const employeeName = $('#txt-search').val();
              let active;
              let title;
              let message;
              let cssClass;
              let icon;
              $.ajax({
                  method: 'GET',
                  url: '/admin/users/search?name=' + employeeName,
                  success: function (data) {
                      $('#tbl-employees tbody > tr').remove();
                      $.each(data, function (index, employee) {
                          if (employee.active) {
                              cssClass = 'btn-danger';
                              icon = 'fa-arrow-down';
                              active = 'Habilitado';
                              title = 'Desabilitar';
                              message = 'return confirm(\'Tem certeza de que deseja desabilitar o usuário ?\')';
                          } else {
                              cssClass = 'btn-success';
                              icon = 'fa-arrow-up';
                              active = 'Desabilitado';
                              title = 'Habilitar';
                              message = 'return confirm(\'Tem certeza de que deseja habilitar o usuário ?\')';
                          }
                          $('#tbl-employees tbody').append(
                              '<tr>' +
                              '  <td>' + employee.id + '</td>' +
                              '  <td>' + employee.email + '</td>' +
                              '  <td>' + employee.name + '</td>' +
                              '  <td>' + active + '</td>' +
                              '  <td>' + employee.role.name + '</td>' +
                              '  <td>' +
                              '    <div class="btn-group">' +
                              '    <a href="/admin/users/' + employee.id + '" class="btn btn-primary"' +
                              '       type="button" data-bs-toggle="tooltip" data-bs-placement="top"' +
                              '       title="Visualizar"><i class="fas fa-eye"></i></a>' +
                              '    <a href="/admin/users/' + employee.id + '/update" class="btn btn-warning"' +
                              '       type="button" data-bs-toggle="tooltip" data-bs-placement="top"' +
                              '       title="Editar"><i class="fas fa-edit"></i></a>' +
                              '    <a href="/admin/users/' + employee.id + '/change-availability"' +
                              '       class="btn ' + cssClass + '" type="button"' +
                              '       data-bs-toggle="tooltip" data-bs-placement="top"' +
                              '       title="' + title + '"' +
                              '       onclick="' + message + '">' +
                              '        <i class="fas ' + icon + '"></i></a>' +
                              '    </div>' +
                              '  </td>' +
                              '</tr>'
                          );
                      })
                      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                      let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                          return new bootstrap.Tooltip(tooltipTriggerEl)
                      })
                  },
                  error: function () {
                      alert("Houve um erro na requisição!");
                  }
              });
              return false;
          });
      });
  </script>
  <script>
      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
      })
  </script>
</th:block>

</body>
</html>