<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">App Veterinário</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:classappend="${isHome} ? 'active'" aria-current="page" href="/">Home</a>
          </li>

          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="medicalRecordNavbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:classappend="${isAtendimento} ? 'active'" href="#">Atendimento</a>
            <ul class="dropdown-menu" aria-labelledby="medicalRecordNavbarDropdown">
              <li>
                <a class="dropdown-item"
                   href="/app/medical-records">Consultar atendimentos</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="/app/medical-records/archived">Listar atendimentos arquivados</a>
              </li>
              <li sec:authorize="hasAnyRole('ADMIN', 'VET')">
                <a class="dropdown-item"
                   href="/app/medical-records/insert">Iniciar novo atendimento</a>
              </li>
            </ul>
          </li>

          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="customerNavbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:classappend="${isCustomer} ? 'active'" href="#">Clientes</a>
            <ul class="dropdown-menu" aria-labelledby="customerNavbarDropdown">
              <li>
                <a class="dropdown-item"
                   href="/app/customers">Consultar clientes</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="/app/customers/insert">Adicionar novo cliente</a>
              </li>
            </ul>
          </li>

          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="animalNavbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:classappend="${isAnimal} ? 'active'" href="#">Animais</a>
            <ul class="dropdown-menu" aria-labelledby="animalNavbarDropdown">
              <li>
                <a class="dropdown-item"
                   href="/app/animals">Consultar Pets</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="/app/animals/insert">Adicionar novo Pet</a>
              </li>
            </ul>
          </li>

          <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="adminNavbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:classappend="${isAdmin} ? 'active'" href="#">Administração</a>
            <ul class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
              <li sec:authorize="hasRole('ADMIN')">
                <a class="dropdown-item"
                   href="/admin/roles">Níveis de Acesso</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="/admin/users">Usuários</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="d-flex container-fluid justify-content-end">
          <a sec:authorize="isAnonymous()" href="/login" class="btn btn-primary me-2">Login</a>
          <form class="form-inline" form-method="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>
</html>