<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{base/base :: baseHead}">
  <title></title>
</head>
<body>
<header th:replace="~{base/base :: navbar}"></header>

<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 th:text="${title}"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-3">
      <div class="card" th:object="${customer}">
        <div class="card-header">

          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link"
                 th:classappend="${!pets} ? 'active'"
                 th:aria-current="${!pets}"
                 th:href="@{/app/customers/{id}?pets=false (id=*{id})}">Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 th:classappend="${pets} ? 'active'"
                 th:aria-current="${pets}"
                 th:href="@{/app/customers/{id}?pets=true (id=*{id})}">Pets</a>
            </li>
          </ul>

        </div>

        <div class="card-body" th:if="${!pets}">
          <h5 class="card-title" th:text="*{fullName}"></h5>
          <p class="card-text">
            <b>Data de Nascimento:</b> <span th:text="${#temporals.format(customer.birthDate, 'dd-MM-yyyy')}"></span>
          </p>
          <p class="card-text">
            <b>Contato:</b> <span th:text="*{phoneToString()}"></span>
          </p>
          <p class="card-text">
            <b>Endereço:</b> <span th:text="*{address}"></span>
          </p>
        </div>

        <div class="card-body" th:if="*{pets != null} and ${pets}">
          <div th:each="pet : *{pets}">
          <h5 class="card-title">
            <a th:href="@{/app/animals/{id} (id=${pet.id})}" th:text="${pet.name}"></a>
          </h5>
            <p class="card-text">
              <b>Idade:</b> <span th:text="${pet.age}"></span>
            </p>
            <p class="card-text">
              <b>Raça:</b> <span th:text="${pet.breed}"></span>
            </p>
          </div>
        </div>

        <div class="card-body" th:if="*{pets == null} and ${pets}">
          <h5 class="card-title">Este usuário não possui Pets cadastrados.</h5>
        </div>

        <div class="card-body">
          <a th:href="@{/app/customers/{id}/update (id=${customer.id})}"
             class="btn btn-warning">Editar</a>
          <a th:href="@{/app/customers/{id}/delete (id=${customer.id})}"
             class="btn btn-danger"
             onclick="return confirm('Tem certeza de que deseja excluir o cliente?')">Excluir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <a th:href="@{/app/customers}" class="btn btn-secondary mb-2">Voltar</a>
    </div>
  </div>
</main>

<footer th:replace="~{base/base :: copyright}"></footer>

</body>
</html>